/*!******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles.css ***!
  \******************************************************************/
html, body {
    margin: 0;
    background-color: #DDD;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

img {
    width: 250px;
}
